.collapse__title {
	@include font-size($lead-font-size);
	padding: 0 14px;
	@include text-block-padding($padding-small, 2px);
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	background-color: $lighter-grey;
	border: 1px solid darken($lighter-grey, 5);
	@include border-radius();
	margin-bottom:$base-spacing-unit/4;
}

.collapse__target {
	padding: 0 14px;
	@include text-block-padding($padding-large, 2px);
	border: 1px solid $lighter-grey;
	@include border-radius();
	margin-bottom:$base-spacing-unit/4;
}

.collapse__target > :last-child {
	margin-bottom:0;
}

.collapse__target,
.collapse__target ul,
.collapse__target ol {
	margin-left:0;
}

.js .collapse .collapse__title {
	cursor:pointer;	
}
	

