//------------------------------------------------------------------------------------------------------
// BASIC
//------------------------------------------------------------------------------------------------------

form { 
	margin: $base-spacing-unit*2 0; 
	
	p {
		float: left;
		//@include remove-space;	
		//margin-bottom: $base-spacing-unit;
		width: 100%;
		
		@include respond-to(small) {
			margin-top: $base-spacing-unit;
		}		
	}
}

fieldset { 
	border: solid 1px #ddd; 
	margin: -1px 0 $base-spacing-unit*2;
	padding: $base-spacing-unit $gutter ($base-spacing-unit - 1);
	
	@include border-radius(2px); 
	
	/*@include respond-to(small) {
		padding-top: $base-spacing-unit*2;
	}*/
	
	&.actions {
		background: #f7f7f7;
		padding-top: $base-spacing-unit*2;	
		
		@include respond-to(small) {
			padding-top: $base-spacing-unit;
		}
	}
}

legend { 
	background: white; 
	margin: 0;  
	padding: 0 3px; 	
}

label { 
	cursor: pointer; 
	display: block; 
	
	@include text-block-padding(7px);
	
	@include respond-to(small) {
		float: left;
		width: 30%;	
	}
}

//------------------------------------------------------------------------------------------------------
// TEXT-BASED INPUTS
//------------------------------------------------------------------------------------------------------

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], 
input[type="email"], input[type="number"], input[type="search"], input[type="tel"], 
input[type="time"], input[type="url"], textarea { 

	background-color: white; 
	border: 1px #CCC solid; 
	color: #666; 
	display: block; 
	font-family: inherit; 
	font-size: 14px; 
	margin: -1px 0 0;
	padding: 8px 10px;  
	width: 100%; 
	
	@include border-radius(2px);  
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); 
	@include box-sizing(border-box);
	//@include transition(all 0.15s linear);	
	
	@include respond-to(small) {
		float: left;
		width: 70%;	
	}

    &:focus { 
		background: #fafafa; 
		border-color: #c7c7c7; 
		outline: none;
	}
	
    &[disabled] { 
		background-color: #ddd;
	}
}

textarea { 
	height: 97px;
	resize: vertical;
}

select {
	width: 100%;
}

//------------------------------------------------------------------------------------------------------
// CHECKBOXES + RADIO BUTTONS
//------------------------------------------------------------------------------------------------------

input[type="checkbox"], input[type="radio"] {
	position: relative; top: 1px;	
}

.single-chkrad {
	
	margin-bottom: 0;
	
	@include respond-to(small) {
		margin-top: 0;	
	}
	
	label {
		@include respond-to(small) {
			padding-left: 30%;
			width: 70%;
		}
	}
	
	span {
		padding-left: 6px;
	}
}

.multi-chkrad {

	margin-bottom: 0;
	
	span {
		padding-left: 6px;
	}
	
	@include respond-to(small) {
		margin-top: 0;	
	}

	.chkrads {
	
		display: block;
		font-size: 12px;
		padding: 0;	 
	
		@include respond-to(small) {
			float: left;
			width: 70%;
		
			label {
				width: 50%;	
			}
		}
	}
	
}

//------------------------------------------------------------------------------------------------------
// INFORMATION
//------------------------------------------------------------------------------------------------------

.information {
	
	color: #999;
	display: block;
	font-size: 11px;
	margin-bottom: -$base-spacing-unit; 
	
	@include text-block-padding(8px);
	
	@include respond-to(small) {
		font-size: 12px;
		float: left;
		padding-left: 30%;
		width: 70%;	
	}
	
	.actions & {
		
		color: #777;
		text-align: center;	
		
		@include respond-to(small) {
			float: left; 	
			padding-left: 0;
			text-align: left;
			width: auto;
		}
	}
}

//------------------------------------------------------------------------------------------------------
// ERRORS
//------------------------------------------------------------------------------------------------------

.error input, input.error, .error textarea, textarea.error { 
	border-color: red;
	background-color: rgba(red, 0.1); 
}

.error label, label.error { 
	color: red; 
}