//------------------------------------------------------------------------------------------------------
// ISLAND
//------------------------------------------------------------------------------------------------------

/**
 * Simple, boxed off content, as per: csswizardry.com/2011/10/the-island-object
 * E.g.:
 * 
   <div class=island>
       I am boxed off.
   </div>
 * 
 * Demo: jsfiddle.net/inuitcss/u8pV3
 * 
 */
.island,
.islet{
	@extend .clearfix;
    display:block;
}
.island{
    padding:$base-spacing-unit;
}
    .island > :last-child,
    .islet > :last-child{
        margin-bottom:0;
    }


/**
 * Just like `.island`, only smaller.
 */
.islet{
    padding:$half-spacing-unit;
}

.island--brand,
.islet--brand {
	background-color: $primary-color;
	@include border-radius();
	@include box-shadow(inset 0 1px 1px darken($primary-color, 10));
	color:$white;
}