.nav--primary {
	
	margin-bottom:0;
	
	@include respond-to(small) {
		background: $primary-color;
	}
	
	li {		
		@include respond-to(medium) { 
			float: left;
			margin-top: 0;
		}
	}
	
	a {
		background: $primary-color;	
		color: $white;
		
		&:hover {
			background: darken($primary-color, 5);	
		}
		
		@include respond-to(medium) { 
			line-height: $base-spacing-unit*1.5;
			padding: 0 $gutter/2;
		}		
	}
	
	.current a {
		background: darken($primary-color, 8);
	}
}