footer[role="contentinfo"] {
	background: #eee;
	padding: $base-spacing-unit 0;
	
	> div {
		@extend container;	
	}
}

.nav--footer {
	
	font-size: 11px;
	margin: 0;
	overflow: hidden;
	padding: 8px 0 4px;
	
	li {
		float: left;
		padding-right: 8px;
	}
	
	a {
		color: #777;
		
		&:hover {
			color: #333;
		}
	}
	
}

.copyright {
	
	border-top: 1px #ddd solid;
	clear: both;
	color: #999;	
	font-size: 11px;
	margin-bottom: 0;
	
	@include respond-to(small) {
		margin-top: 0;	
	}
	
	a {
		color: #999;
		
		&:hover {
			color: $link-color-hover;
		}
	}
	
	small {
		display: block;
		font-size: 100%;
		
		@include respond-to(small) {
			border-left: 1px #d7d7d7 solid;
			display: inline;
			margin-left: 6px;
			padding-left: 6px;
		}
	}
}